<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="googlecodechallenge.sam.musepadpocket">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".userViews.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".userViews.RegisterActivity"/>
        <activity android:name=".museViews.ViewNotesActivity"/>
        <activity android:name=".museViews.EditNoteActivity"/>
        <activity android:name=".museViews.AddNoteActivity"/>
        <activity android:name=".museViews.AddMuseActivity"/>
    </application>

</manifest>